@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Fine Dining</h1>
    <br>
    <div class="spinner-border text-warning" role="status">
    </div>
    <p class="lead">Loading food...</p>

</div>
